@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background: rgb(236,209,224);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 70%;
    height: auto;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.container-tabela{
    display: flex;
    justify-content: center;
    align-items: end;
}

.botoes-fora-tabela{
    width: 170px;
    text-align: center;
    text-decoration: none;
    border: none;
    background: #002c42;
    color: #e87c7a;
    border-radius: 1.5vh;
    font-size: 20px;
    padding: 0.5vh 2vh 0.5vh 2vh;
}

.botoes-fora-tabela:hover{
    font-weight: 600;
    color: #ef9ca9;
    transition: 0.15s;
}

#botao-voltar{
    width: 140px;
    margin-right: 1%;
}

#botao-avancar{
    width: 160px;
    margin-left: 1%;
}

#titulo{
    margin: 0;
    color: #002c42;
    font-weight: 600;
    font-size: 32px;
}

.tabela-posts{
    width: 100%;
    text-align: center;
    background-color: #002c42;
    border-radius: 2.8vh;
}

thead{
    color: #e87c7a;
    font-size: 18px;
}

tbody{
    font-weight: 300;
    color: #f5f5f5;
    font-size: 20px;
}

tbody td{
    border-top: 2px solid #ef9ca9;
    border-right: 2px solid #ef9ca9;
}

table td, table th{
    margin: 0;
    padding-left: 1vw;
    padding-top: 0.2vw;
    padding-right: 1vw;
    padding-bottom: 0.2vw;
}

.espaco-id{
    width: 1vw;
}

.espaco-data{
    width: 6vw;
}

.espaco-autor{
    width: 25vw;
}

.espaco-titulo{
    width: fit-content;
  max-width: 14ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.botao-visualizar, .botao-editar, .botao-excluir{
    padding: 0;
    text-decoration: none;
    border: none;
    background: #002c42;
    color: #e87c7a;
    font-size: 16px;
}

.botao-visualizar:hover, .botao-editar:hover, .botao-excluir:hover{
    padding: 0;
    font-weight: 600;
    color: #ef9ca9;
    transition: 0.15s;
}

.espaco-excluir{
    padding: 0.5% 0% 0.5% 0%;
    border-right: none;
    width: 12%;
}

.espaco-editar{
    padding: 0.5% 0% 0.5% 0%;
    width: 9%;
}

.espaco-visualizar{
    padding: 0.5% 0% 0.5% 0%;
    width: 14%;
}

.paginacao{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1%;
}

@media screen and (min-width:932px) and (max-width:1158px){
    .botoes-fora-tabela{
        font-size: 16px;
        width: 140px;
    }

    #botao-voltar{
        width: 120px;
    }
    
    #botao-avancar{
        width: 125px;
    }

    thead{
        font-size: 16px;
    }

    tbody{
        font-size: 16px;
    }

    .botao-visualizar, .botao-editar, .botao-excluir{
        font-size: 13px;
    }

    .tabela-posts{
        border-radius: 2vh;
    }
}

@media screen and (min-width:514px) and (max-width:932px){
    main{
        width: 100%;
        margin-right: 1.5%;
        margin-left: 10%;
    }
    
    #titulo{
        font-size: 20px;
    }

    .botoes-fora-tabela{
        font-size: 12px;
        width: 120px;
    }

    #botao-voltar{
        width: 90px;
    }
    
    #botao-avancar{
        width: 100px;
    }

    .botao-visualizar, .botao-editar, .botao-excluir{
        font-size: 0px;
    }

    table i{
        font-size: 12px;
    }

    thead{
        font-size: 12px;
    }

    tbody{
        font-size: 13px;
    }

    .tabela-posts{
        border-radius: 1.7vh;
    }

    .espaco-excluir{
        width: 9%;
    }
    
    .espaco-editar{
        width: 9%;
    }
    
    .espaco-visualizar{
        width: 9%;
    }
}

@media screen and (min-width:0px) and (max-width:514px){
    main{
        width: 100%;
        margin-right: 3%;
        margin-left: 15%;
        overflow: hidden;
    }

    .container-tabela{
        width: 100%;
        overflow-x: auto;
        justify-content: start;
    }
    
    #titulo{
        font-size: 15px;
    }

    .botoes-fora-tabela{
        font-size: 12px;
        width: 120px;
    }

    #botao-voltar{
        width: 90px;
    }
    
    #botao-avancar{
        width: 100px;
    }

    .botao-visualizar, .botao-editar, .botao-excluir{
        font-size: 0px;
    }

    table i{
        font-size: 12px;
    }

    thead{
        font-size: 12px;
    }

    tbody{
        font-size: 13px;
        text-wrap: nowrap;
    }

    .tabela-posts{
        border-radius: 1.7vh;
    }

    .espaco-excluir{
        width: 9%;
    }
    
    .espaco-editar{
        width: 9%;
    }
    
    .espaco-visualizar{
        width: 9%;
    }
}