.btn-outline-danger {
    --bs-btn-border-color: #e87c7a;
    --bs-btn-hover-color: #f5f5f5;
    --bs-btn-hover-bg: #e87c7a;
    --bs-btn-hover-border-color: #e87c7a;
    --bs-btn-focus-shadow-rgb: #e87c7a;
    --bs-btn-active-color: #f5f5f5;
    --bs-btn-active-bg: #e87c7a;
    --bs-btn-active-border-color: #e87c7a;
}