body {
    background: linear-gradient(to bottom, #ecd1e0, #ffffff);
    margin: 0;
    width: 100%;

}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

#mainimg {
    width: 608px;
    height: 400px;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12%;
}

.botao {
    width: 10%;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #002C42;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    padding: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 15px;
}

.botoes>.botao {
    width: 40%;
}

#botaopublicacao,
#botaousuarios,
#botaologout {
    width: 58px;
    height: 58px;
}

@media only screen and (max-width: 820px) {
    #mainimg {
        width: 90%;
        max-width: none;
    }

    .botoes {
        width: 90%;
    }

    .botao {
        width: 30%;
    }
}

@media only screen and (max-width: 425px) {
    #mainimg {
        width: 100%;
        max-width: none;
    }

    .botoes {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .botao {
        margin-left: 2%;
        width: 40%;
        margin-bottom: 4%;
    }
}

@media only screen and (max-width: 375px) {
    #mainimg {
        width: 90%;
        max-width: none;
    }

    .botoes {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .botao {
        width: 40%;
        margin-bottom: 4%;
        font-size: 4vw;
    }

    #botaopublicacao,
    #botaousuarios,
    #botaologout {
        width: 30%;
        max-width: 58px;
    }
}

@media only screen and (max-width: 320px) {
    #mainimg {
        width: 90%;
        max-width: none;
    }

    .botoes {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .botao {
        width: 40%;
        margin-bottom: 4%;
        font-size: 5vw;
    }

    #botaopublicacao,
    #botaousuarios,
    #botaologout {
        width: 30%;
        max-width: 58px;
    }
}