body {
    background: linear-gradient(to bottom, #ecd1e0, #ffffff);
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#mainimg {
    width: 608px;
    margin-bottom: 50px;
}

p{
    margin-left: 10px;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12%;
}

.botoes:hover {
    cursor:pointer;
}

.botao {
    width: 10%;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 600;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #002C42;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    padding: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 15px;
}

.botoes>.botao {
    width: 40%;
}

#botaopublicacao,
#botaousuarios,
#botaologout {
    width: 58px;
    height: 58px;
}

a{
    text-decoration: none;
    color: white;
}


@media only screen and (max-width: 900px) {
    #mainimg {
        width: 70%;
        max-width: none;
    }

    .botoes {
        width: 50%;
    }

    .botao {
        width: 30%;
        font-size: 20px;
    }

    #botaopublicacao,
    #botaousuarios,
    #botaologout {
    width: 45px;
    height: 45px;
    }
}

@media only screen and (max-width: 640px) {
    #mainimg {
        width: 70%;
        max-width: none;
    }

    .botoes {
        width: 80%;
        flex-direction: column;
        align-items: center;
    }

    .botao {
        margin-bottom: 3%;
        padding: 10px 40px;
    }

    #botaopublicacao,
    #botaousuarios,
    #botaologout {
    width: 40px;
    height: 40px;
    }
}

@media only screen and (max-width: 375px) {
    #mainimg {
        width: 90%;
        max-width: none;
    }

    .botoes {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .botao {
        width: 40%;
        margin-bottom: 4%;
        font-size: 4vw;
    }

    #botaopublicacao,
    #botaousuarios,
    #botaologout {
        width: 30%;
        max-width: 58px;
    }
}

@media only screen and (max-width: 320px) {
    #mainimg {
        width: 90%;
        max-width: none;
    }

    .botoes {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .botao {
        width: 40%;
        margin-bottom: 4%;
        font-size: 5vw;
    }

    #botaopublicacao,
    #botaousuarios,
    #botaologout {
        width: 30%;
        max-width: 58px;
    }
}
/*
#botaolog{
    font-size: 18px;
    width: fit-content;
}