body {
    background: linear-gradient(to bottom, #ecd1e0, #ffffff);
    margin: 0;
    width: 100%;
}
.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mainimg{
    width: 608px;
    height: 400px;
}