.container{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    width: fit-content;
}

.container>p{
    margin: 0;
    padding-left: 8px;
    font-size: 22px;
}

.star-container {
    display: flex;
    justify-content: start;
}

.star {
    width: var(--star-size, 50px);
    height: var(--star-size, 50px);
    background-color: gray;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    margin: 0;
    position: relative;
}

.star::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: inherit;
    z-index: 1;
}

.star.partial::before {
    background: linear-gradient(to right, gold var(--clip-percentage), gray var(--clip-percentage));
}
