body {
    background: linear-gradient(to bottom, #ecd1e0, #ffffff);
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1px;
    font-size: 24px;
}

.botao {
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    text-decoration: none;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.campos{
    width: 100%;
}

.popup {
    
    position: fixed;
    inset: 0;
    background: rgba(69, 50, 50, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.content {
    width: 25%;
    height: 50%;
    margin: 8px;
    position: relative;
    background: white;
    padding: 10px 20px;
    border-radius: 4px;
}

.popup:target {
    display: flex;
}

.fecha {
    position: absolute;
    top: -1px;
    right: 10px;
    font-size: 30px;
    text-decoration: none;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #453232;
    border-radius: 4px;
    background-color: #ecd1e0;
    color: #453232;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 28px 0;
    box-sizing: border-box;
    border: 2px solid #453232;
    border-radius: 4px;
    background-color: #ecd1e0;
    color: #453232;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1px;
    font-size: 24px;
}

a {
    color: #453232;
}

a:visited {
    color: #453232;
}

.senha-e-olho{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#senha{
    position: relative;
}

.olho{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    right: 5vh;
    cursor: pointer;
}

#icone-olho{
    width: 4vh;
}
.botaoremover{
   padding-top: 5vh;
   padding-left: 3vh;
   width: 20vh;
   display: flex;
   
}

    
    

.tituloremover h1{
    font-size: 35px;
    margin-left:27%;
    margin-top:-12%;
    width: 300px;
    display: flex;
}
.imagemremover{
 
     width: 60%;
     margin-top:-7%;
     margin-left:20%;
}
.descremover h3{
    opacity: 0.5;
    width: 450px;
    font-size: 20px;
    border-bottom: 1px solid #453232;
    margin-left: 18%;
    margin-top: -2%;
}
.botaocancelar button{
    border-radius: 5px 5px 5px 5px;
    width: 160%;
    height: 5vh;
    border: none;
    background-color: #ecd1e0;
    border: 1px solid #453232;
    font-size: 20px;
    font-family: poppins;
    margin-left: 150%;
    margin-top: 28%;

    



}
@media only screen and (min-width: 0px) and (max-width: 850px) {
    .content{
        width: 65%;
    }
}