@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    height: 100%;
    font-family: "Poppins", sans-serif;

}

main {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    background: linear-gradient(to bottom, #EF9CA9, white 55%);
    min-height: 61vh;
}

.review {
    word-break: break-all;
    font-size: 20px;
}

.coluna1 {
    display: flex;
    height: 100%;
    padding-right: 1%;
    padding-left: 1%;
}

.coluna2 {
    display: flex;
    height: fit-content;
    max-width: 900px;
    border-left: 2px solid #453232;
    border-right: 2px solid #453232;
    padding-right: 2%;
    padding-left: 2%;
    flex-direction: column;
    min-height: 61vh;
}



.coluna3 {
    display: flex;
    height: 100%;
    padding-right: 1%;
    padding-left: 1%;

}

.coluna-box {
    margin-top: 5%;
    display: flex;
    align-items: center;

    width: 20vw;
    height: 6vh;
}

.buscar-box {
    margin-top: 5%;
    display: flex;
    align-items: center;
    background-color: white;
    width: 20vw;
    height: 6vh;
    border-radius: 1.5vw;
    opacity: 0.8;
}

.buscar-box .lupa img {
    padding-left: 0.5vw;
    height: 30px;
}

.buscar-box .input-buscar input {
    padding-left: 0.3vw;
    width: 88%;
    font-size: 22px;
    border: none;
    outline: none;
}

.forma-post1 {
    display: flex;
    flex-direction: row;
    background-color: rgb(239, 156, 169, 0.3);
    height: fit-content;
    border-radius: 20px;
    justify-content: space-between;
    border: 1px solid rgba(69, 50, 50, 0.8);
    margin-top: 2vh;
    margin-bottom: 2vh;
    cursor: pointer;
}

.espasso {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.espassocapa {
    width: fit-content;
}

.digitado {
    display: flex;
    font-size: 12px;
    padding: 0.3vw 1vw 1vw 1vw;
    height: auto;
    width: 80;
}

.usuario {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 15px;
    top: 5px;
    padding-left: 5%;
    padding-top: 2vh;
}

.estrelas {
    margin-top: -15px;
    display: flex;
    flex-direction: row;

}

.estrelas>span {
    font-size: 25px;
}

.fotouser {
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 1vw;
    padding-top: 2vh;
}

.capalivro1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding-right: 1vw;
}

.capalivro1 img {
    max-height: 80%;
    min-height: 75%;
}

.digitado>h1 {
    margin: 5px;
}

#alternador {
    margin-top: 10px;
    float: right;

}

.paginacao {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}

.btn-voltar {
    width: 110px;
    margin-right: 10px;
    font-family: Poppins;
    color: #e87c7a;
}

.btn-avancar {
    width: 135px;
    margin-left: 10px;
    font-family: Poppins;
}

.paginacao-link:visited {
    color: #e87c7a;
    font-family: Poppins;
    text-decoration: none;
}

.paginacao-link {
    font-family: Poppins;
    color: #e87c7a;
    text-decoration: none;
}

.paginacao-item {
    text-align: center;
    font-family: Poppins;
    list-style-type: none;
    background-color: #002c42;
    padding: 10px;
    border-radius: 10px;
    float: left;
    margin: 2px;
    width: 35px;
    cursor: pointer;
}

.paginacao-numeros {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
    font-family: Poppins;
}

.btn-avancar:hover,
.btn-voltar:hover {
    background: #002c42;
    font-weight: 600;
    color: #ef9ca9;
}

.btn {
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    background: #002c42;
    border: none;
    color: #e87c7a;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.navpaginacao {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

.cs {
    background-color: #453232;
    color: #f5f5f5;
    font-family: Poppins;
}

.cs:hover {
    background-color: #453232;
    color: #f5f5f5;
    font-family: Poppins;
    font-weight: 400;
}

@media screen and (min-width:900px) and (max-width:1171px) {
    .coluna3 {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .coluna2 {
        width: 100vw;
        border: none;
    }

    .buscar-box {
        width: 857px;
    }
}

@media screen and (max-width:900px) {
    .coluna3 {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .coluna2 {
        width: 100vw;
        border: none;
    }

    .buscar-box {
        width: 95vw;
    }

    .digitado>h1 {
        font-size: 16px;
    }

    .usuario>h1 {
        font-size: 20px;
    }


}

@media screen and (max-width:768px) {
    .review {
        font-size: 18px;
    }
}

@media screen and (max-width:500px) {
    .digitado>h1 {
        font-size: 14px;
    }

    .review {
        font-size: 14px;
    }

    .capalivro1 {
        display: none;
    }

    .usuario>h1 {
        font-size: 18px;
    }
}