@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

main {
    display: flex;
    flex-direction: row;
    height: fit-content;

}

body {

   height: fit-content;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom, #EF9CA9, white 55%);
}




.coluna1 {
    display: flex;
    height: 100%;
    margin-right: 2%;
    margin-left: 1%;
    
   

}

.coluna2 {
    display: flex;
    height: fit-content;
    max-width: 900px;
    border-left: 2px solid #453232;

    border-right: 2px solid #453232;
    padding-right: 2%;
    padding-left: 2%;
    flex-direction: column;
    

}


.usuario h1 {

    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 6%;
    padding-top: 3%;
    margin: 0%;
    min-width: 300px;


}

.fotouser {

    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: start;
    padding-left: 2%;
    padding-top: 2%;
}

.espasso {
    display: flex;
}





.buscar-box {
    font-family: "Poppins", sans-serif;

    display: flex;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 75px;
    border-radius: 20px;
    opacity: 0.8;




}

.buscar-box .lupa img {

    height: 10%;


}

.buscar-box .input-buscar {
    border: 0;

}

.buscar-box .input-buscar input {
    font-size: 30px;
    outline: 0;
    border: 0;
    font-family: "poppins";


}

.forma-post1 {
    content: '';
    flex-direction: row;
    display: flex;
    background-color: rgb(239, 156, 169, 0.3);
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;
    justify-content: space-between;
    stroke-width: 1px;


}

.forma-post2 {
    content: '';
    flex-direction: row;
    display: flex;
    background-color: rgb(239, 156, 169, 0.3);
    max-width:100%;
    height: 300px;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;
    justify-content: space-between;
    margin-top: 5%;



}

.forma-post3 {
    content: '';
    flex-direction: row;
    display: flex;
    background-color: rgb(239, 156, 169, 0.3);
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;
    justify-content: space-between;
    margin-top: 5%;
}
.forma-post4 {
    content: '';
    flex-direction: row;
    display: flex;
    background-color: rgb(239, 156, 169, 0.3);
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;
    justify-content: space-between;
    margin-top: 5%;
}

.forma-post5 {
    content: '';
    flex-direction: row;
    display: flex;
    background-color: rgb(239, 156, 169, 0.3);
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;
    justify-content: space-between;
    margin-top: 5%;
}






.fotouser2 {
    height: 20px;

}

.espasso2 {
    display: flex;
}




.usuario {

    display: flex;
    flex-direction: column;
    font-size: 15px;
    top: 5px;
}







.estrelas {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: row;
    padding-left: 5.7%;
    padding-top: -10%;


}

.capalivro1 {

    width: 100px;
    margin: 0;

    right: 10px;
    padding-top: 1%;
    padding-right: 10%;






}

.capalivro1 img {
    min-height: 220px;
}



.digitado {

    display: flex;
    font-size: 12px;
    padding: 3%;
    margin-top: -10%;





}
.main-lista{
    margin-top: 10vh;
    height: fit-content;
   
}

    
