/*FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

/*body{
  /*background-color: #b4b4b4;
  background: rgb(236,209,224);
  background: linear-gradient(rgba(236,209,224,1) 0%, rgba(245,245,245,1) 100%);
}*/

/*main{
  height: 90vh;
}*/

#container-table{
  width: 70%;
  margin: auto;
  margin-top: 100px;
}

table{
  background-color: #002c42;
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

thead{
  font-weight: 200;
  font-size: 20px;
  color: #e87c7a;
}

tbody{
  font-weight: 300;
  font-size: 20px;
  color: #f5f5f5;
}

table td{
  justify-items: center;
  border-top: 2px solid #ef9ca9;
  border-right: 2px solid #ef9ca9;
}

table td, table th{
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

table td button{
  text-decoration: none;
  background: #ffffff00;
  border: none;
  color: #e87c7a;
  transition: 0.15s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 16px;
}

.nome{
  width: 100px;
}

.email{
  width: 100px;
}

.visualizar{
  width: 80px;
}

.editar{
  width: 60px;
}

.deletar{
  width: 75px;
}

.ultimoDado{
  border-right: none;
}

table td button:hover{
  font-weight: 600;
  color: #ef9ca9;
}

#alternador{
  margin-top: 5px;
  float:right;
}

.btn-voltar{
  width: 110px;
  margin-right: 10px;
}

.btn-avancar{
  width: 135px;
}

.btn-avancar:hover, .btn-voltar:hover{
  font-weight: 600;
  color: #ef9ca9;
}

.btn{
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background: #002c42;
  border: none;
  color: #e87c7a;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

#cabecalho{
  height: 30px;
}

#adicionar{
  float: left;
}

#adicionar .btn{
 margin-bottom: 10px;
 margin-top: 0;
 width: 230px;
}

#adicionar .btn:hover{
  font-weight: 600;
  color: #ef9ca9;
}

#titulo-table{
  align-items: baseline;
  justify-content: center;
  color: #002c42;
  font-weight: 600;
  font-size: 32px;
  padding-right: 20px;
  float: right;
}

/*.editar, .visualizar, .deletar{
  /*border: 1px solid greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}*/

@media screen and (min-width:769px) and (max-width:1024px){
  
  #container-table{
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }

  thead{
    font-size: 16px;
  }
  
  tbody{
    font-size: 16px;
  }

  #titulo-table{
    font-size: 28px;
  }

  .btn{
    font-size: 16px;
  }

  table td, table th{
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }

}

@media screen and (min-width:427px) and (max-width:768px){

  #container-table{
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }

  thead{
    font-size: 12px;
  }
  
  tbody{
    font-size: 12px;
  }

  #titulo-table{
    font-size: 20px;
  }

  .btn{
    font-size: 12px;
  }

  table td, table th{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }
  
  table td button{
    text-decoration: none;
    background: #ffffff00;
    border: none;
    color: #e87c7a;
    transition: 0.15s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 12px;
  }
  
  #adicionar .btn{
    margin-bottom: 5px;
    margin-top: 0;
    width: 160px;
  }

  .btn-voltar{
    width: 80px;
    margin-right: 5px;
  }
  
  .btn-avancar{
    width: 95px;
  }

}

@media screen and (min-width:321px) and (max-width:426px){

  #container-table{
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }

  table{
    border-radius: 10px;
  }

  thead{
    font-size: 10px;
  }
  
  tbody{
    font-size: 10px;
  }

  #cabecalho{
    align-content: center;
    height: 45px;
  }

  #titulo-table{
    padding-right: 5px;
    margin-top: 10px;
    font-size: 16px;
  }

  .btn{
    font-size: 10px;
  }

  table td, table th{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }
  
  table td button{
    width: 100%;
    font-size: 0px;
    color: #ffffff00;
  }

  table td button i{
    font-size: 12px;
    color: #e87c7a;
  }

  table td button i:hover{
    font-weight: 600;
    color: #ef9ca9;
  }
  
  #adicionar .btn{
    margin-bottom: 5px;
    margin-top: 0;
    width: 88px;
  }

  .btn-voltar{
    width: 68px;
    margin-right: 5px;
  }
  
  .btn-avancar{
    width: 81px;
  }

  td.container-btn{
    width: 30px;
  }

  .editar, .visualizar, .deletar{
    width: 15px;
  }

}

@media screen and (min-width:0px) and (max-width:320px){

  #container-table{
    width: 100%;
    margin: auto;
    margin-top: 100px;
  }

  table{
    border-radius: 10px;
  }

  thead{
    font-size: 10px;
  }
  
  tbody{
    font-size: 10px;
  }

  #cabecalho{
    align-content: center;
    height: 45px;
  }

  #titulo-table{
    padding-right: 5px;
    margin-top: 10px;
    font-size: 16px;
  }

  .btn{
    font-size: 10px;
  }

  table td, table th{
    padding-left: 2.5px;
    padding-right: 2.5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }
  
  table td button{
    width: 100%;
    font-size: 0px;
    color: #ffffff00;
  }

  table td button i{
    font-size: 12px;
    color: #e87c7a;
  }

  table td button i:hover{
    font-weight: 600;
    color: #ef9ca9;
  }
  
  #adicionar .btn{
    margin-bottom: 5px;
    margin-top: 0;
    width: 89px;
  }

  .btn-voltar{
    width: 70px;
    margin-right: 5px;
  }
  
  .btn-avancar{
    width: 82px;
  }

  td.container-btn{
    width: 30px;
  }

  .editar, .visualizar, .deletar{
    width: 15px;
  }

}