/*FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: Poppins;
  background: rgb(236, 209, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.navpaginacaomob {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.dropdown {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #002c42;
  min-width: 48px;
  max-height: 110px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 10px;
}

input[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  margin: 28px 0;
  box-sizing: border-box;
  border: 2px solid #453232;
  border-radius: 4px;
  background-color: #ecd1e0;
  color: #453232;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1px;
  font-size: 24px;
}

main {
  width: 100%;
  padding: 0 5% 0 5%;
}

.sdbar {
  padding-left: 1%;
}

#crud-usuario {
  width: 100%;
}

.paginacao {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.navpaginacao {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.botoes-rm {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  align-items: center;
}

.botoes-rm>button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #453232;
  border-radius: 4px;
  background-color: #ecd1e0;
  color: #453232;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1px;
  font-size: 24px;
  height: fit-content;
}

table {
  background-color: #002c42;
  width: 100%;
  text-align: center;
  border-radius: 2vh;
}

thead {
  font-weight: 200;
  font-size: 16px;
  color: #e87c7a;
}

tbody {
  font-weight: 300;
  font-size: 20px;
  color: #f5f5f5;
}

.linha-mobile {
  display: none;
}

.botoes-mobile {
  display: none;
}

.rm-ct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
}

.form-deleta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rm-ct {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.cont-deletar>.content {
  width: fit-content;
}

.rm-ct>p {
  color: #453232;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -1px;
  font-size: 26px;
}

table td {
  justify-items: center;
  border-top: 2px solid #ef9ca9;
  border-right: 2px solid #ef9ca9;
}

table td,
table th {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

table td button {
  text-decoration: none;
  background: #ffffff00;
  border: none;
  color: #e87c7a;
  transition: 0.15s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 16px;
}

.table-id {
  width: 60px;
}

.nome {
  width: fit-content;
  max-width: 19ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email {
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td.container-btn {
  width: 30px;
}

/*.container-btns{
  display: flex;
  flex-direction: row;
}*/

.cont-bt {
  /*border: 1px solid greenyellow;*/
  display: flex;
  flex-direction: row;
}

.visualizar,
.editar,
.deletar {
  margin: auto;
}

.visualizar {
  width: 80px;
}

.editar {
  width: 50px;
}

.deletar {
  width: 60px;
}

.cont-deletar {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;

}

.btn-voltar {
  width: 40px;

}

.btn-avancar {
  width: 40px;
}

.ultimoDado {
  border-right: none;
}

table td button:hover {
  font-weight: 600;
  color: #ef9ca9;
}

#alternador {
  margin-top: 10px;
  float: right;
}

.btn-voltar {
  width: 110px;
  margin-right: 10px;
  color: #e87c7a;
}

.btn-avancar {
  width: 135px;
  margin-left: 5px;
}

.paginacao-link:visited {
  color: #e87c7a;
  text-decoration: none;
}

.paginacao-link {

  color: #e87c7a;
  text-decoration: none;
}

.paginacao-item {
  text-align: center;
  list-style-type: none;
  background-color: #002c42;
  padding: 10px;
  border-radius: 10px;
  float: left;
  margin: 2px;
  width: 35px;
  cursor: pointer;
}

.paginacao-numeros {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

.btn-avancar:hover,
.btn-voltar:hover {
  background: #002c42;
  font-weight: 600;
  color: #ef9ca9;
}

#valida {
  margin: 0;
  color: red;
  font-size: 12px;
  text-align: center;
}

.btn {
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background: #002c42;
  border: none;
  color: #e87c7a;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.cs {
  background-color: gray;
  color: #f5f5f5;
  font-family: Poppins;
}

.cs:hover {
  background-color: gray;
  color: #f5f5f5;
  font-family: Poppins;
  font-weight: 400;
}

#cabecalho {
  height: 30px;
}

#adicionar {
  float: left;
}

#adicionar .btn {
  margin-bottom: 10px;
  margin-top: 0;
  width: 230px;
}

#adicionar .btn:hover {
  background: #002c42;
  font-weight: 600;
  color: #ef9ca9;
}

#titulo-table {
  align-items: baseline;
  justify-content: center;
  color: #002c42;
  font-weight: 600;
  font-size: 32px;
  padding-right: 20px;
  float: right;
}

/*.editar, .visualizar, .deletar{
  /*border: 1px solid greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}*/
@media screen and (min-width:1060px) {
  #alternador {
    display: flex;
  }

  #alternador2 {
    display: none;
  }

  #alternador3 {
    display: none;
  }

  #alternador4 {
    display: none;
  }

  #alternador5 {
    display: none;
  }

  #alternador6 {
    display: none;
  }
}

@media screen and (max-width:1059px) {
  #alternador {
    display: none;
  }


}

@media screen and (min-width:789px) {
  #alternador3 {
    display: none;
  }
}

@media screen and (max-width:700px) {
  #alternador3 {
    display: none;
  }
}

@media screen and (max-width:790px) {
  #alternador2 {
    display: none;
  }

  #alternador3 {
    display: flex;
  }
}

@media screen and (max-width:700px) {
  #alternador3 {
    display: none;
  }
}

@media screen and (min-width:701px) {
  #alternador4 {
    display: none;
  }
}

@media screen and (max-width:475px) {
  #alternador4 {
    display: none;
  }
}

@media screen and (min-width:475px) {
  #alternador5 {
    display: none;
  }
}

@media screen and (min-width:361px) {
  #alternador6 {
    display: none;
  }
}

@media screen and (max-width:360px) {
  #alternador5 {
    display: none;
  }
}

@media screen and (min-width:820px) and (max-width:1024px) {

  main {
    width: 100%;
    padding: 0 3% 0 4%;
  }

  thead {
    font-size: 16px;
  }

  tbody {
    font-size: 16px;
  }

  table td button {
    font-size: 12px;
  }

  #titulo-table {
    font-size: 28px;
  }

  .btn {
    font-size: 16px;
  }

  .visualizar {
    max-width: 50px;
  }

  .editar {
    max-width: 30px;
  }

  .deletar {
    max-width: 45px;
  }

  table td,
  table th {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }

  .table-id {
    width: 45px;
  }

}

@media screen and (max-width:600px) {
  #alternador {
    display: none;
  }

  .navpaginacaomob {
    justify-content: flex-end;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
  }

  .dropdown>li {
    border-bottom: 2px solid black;
    border-radius: 0px;
    width: 100%;
    padding: 7px;
    font-size: 12px;
  }

  .btne {
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    background: #002c42;
    border: none;
    color: #e87c7a;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    list-style-type: none;
    font-size: 12px;
  }
}

@media screen and (max-width:942px) {
  .btn-voltar {
    width: 80px;
    margin-right: 5px;
  }

  .btn-avancar {
    width: 95px;
  }

  .paginacao-numeros {
    font-size: x-small;
  }

  .btn-avancar {
    font-size: 12px;
  }

  .btn-voltar {
    font-size: 12px;
  }
}

@media screen and (min-width:502px) and (max-width:820px) {

  .visualizar,
  .editar,
  .deletar {
    font-size: 0px;
  }

  .paginacao-numeros {
    font-size: x-small;
  }

  

  table i {
    font-size: 12px;
  }

  thead {
    font-size: 12px;
  }

  tbody {
    font-size: 12px;
  }

  #titulo-table {
    font-size: 20px;
  }

  .btn {
    font-size: 12px;
  }

  table td,
  table th {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
  }

  table td button {
    text-decoration: none;
    background: #ffffff00;
    border: none;
    color: #e87c7a;
    transition: 0.15s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 12px;
  }

  .table-id {
    width: 45px;
  }

  .nome {
    width: 225px;
  }

  .visualizar {
    max-width: 20px;
  }

  .editar {
    max-width: 22px;
  }

  .deletar {
    width: 20px;
  }

  #adicionar .btn {
    margin-bottom: 5px;
    margin-top: 0;
    width: 160px;
  }

  .btn-voltar {
    width: 80px;
    margin-right: 5px;
  }

  .btn-avancar {
    width: 95px;
  }

}

@media screen and (min-width:380px) and (max-width:502px) {

  .sdbar {
    padding-left: 1%;
  }

  .botoes-rm>button {
    font-size: medium;
  }

  .paginacao-numeros {
    display: flex;
    font-size: x-small;
  }

  main {
    width: 100%;
    padding: 0 10px 0 6%;
  }

  #container-table {
    overflow-x: auto;
  }

  table {
    border-radius: 12px;
  }

  thead {
    font-size: 13px;
  }

  tbody {
    font-size: 13px;
  }

  #cabecalho {
    align-content: center;
    height: 45px;
    margin-bottom: 10px;
  }

  #titulo-table {
    padding-right: 5px;
    margin-top: 10px;
    font-size: 20px;
  }

  .btn {
    font-size: 12px;
  }

  table td,
  table th {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  table-id{
    width: 1px;
  }

  .nome {
    text-wrap: nowrap;
    width: 150px;
  }

  .email {
    max-width: none;
    overflow: none;
    text-overflow: none;
    white-space: nowrap;
  }

  table td button {
    width: 100%;
    font-size: 0px;
    color: #ffffff00;
  }

  table td button i {
    font-size: 12px;
    color: #e87c7a;
  }

  table td button i:hover {
    font-weight: 600;
    color: #ef9ca9;
  }

  #adicionar .btn {
    margin-bottom: 5px;
    margin-top: 0;
    width: 101px;
  }

  .btn-voltar {
    width: 78px;
    margin-right: 5px;
  }

  .btn-avancar {
    width: 92px;
  }

  td.container-btn {
    width: 30px;
  }

  .editar,
  .visualizar,
  .deletar {
    width: 15px;
  }

  input[type="submit"] {
    font-size: medium;
  }

  .table-id {
    width: 30px;
  }

  

}

@media screen and (min-width:0px) and (max-width:380px) {

  #container-table {
    width: 100%;
    overflow-x: auto;
  }

  .botoes-rm>button {
    font-size: medium;
  }

  input[type="submit"] {
    font-size: medium;
  }

  main {
    width: 100%;
    padding: 0 0 0 6%;
  }

  table {
    border-radius: 12px;
  }

  thead {
    font-size: 13px;
  }

  tbody {
    font-size: 13px;
  }

  #cabecalho {
    align-content: center;
    height: 45px;
    margin-bottom: 10px;
  }

  #titulo-table {
    padding-right: 5px;
    margin-top: 15px;
    font-size: 16px;
  }

  .btn {
    font-size: 12px;
  }

  table td,
  table th {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .sdbar {
    padding-left: 0%;
  }

  .nome {
    text-wrap: nowrap;
    width: 150px;
  }

  .email {
    max-width: none;
    overflow: none;
    text-overflow: none;
    white-space: nowrap;
  }

  table td button {
    width: 100%;
    font-size: 0px;
    color: #ffffff00;
  }

  table td button i {
    font-size: 12px;
    color: #e87c7a;
  }

  table td button i:hover {
    font-weight: 600;
    color: #ef9ca9;
  }

  #adicionar .btn {
    margin-bottom: 5px;
    margin-top: 0;
    width: 90px;
    padding: 5px 7px;
  }

  .btn-voltar {
    width: 78px;
    margin-right: 5px;
  }

  .btn-avancar {
    width: 92px;
  }

  td.container-btn {
    width: 30px;
  }

  .editar,
  .visualizar,
  .deletar {
    width: 15px;
  }

}

@media screen and (min-width:380px) and (max-width:502px) {

  /*main{
  width: 100%;
  margin-right: 3%;
  margin-left: 15%;
  overflow: hidden;
}*/
  .botoes-rm>button {
    font-size: medium;
  }

  input[type="submit"] {
    font-size: medium;
  }

  .linha-normal {
    display: none;
  }

  .linha-mobile {
    display: table-row;
  }

  .botoes-mobile {
    display: table-row;
  }

  .linha-botoes {
    padding: 5px 20px 5px 20px;
    border-right: none;
  }

  .container-botoes {
    display: flex;
    justify-content: space-between;
  }

  .email {
    border-right: none;
    max-width: 22ch;
  }

  .botao-visualizar,
  .botao-editar,
  .botao-deletar {
    margin: 0 15px;
    height: 100%;
    width: 35px;
  }

  /*.container-tabela{
    width: 100%;
    overflow-x: auto;
    justify-content: start;///////////////
}*/

  /*table i{
    font-size: 14px;
}*/

  /*thead{
    font-size: 12px;
}*/


  /*.tabela-posts{
    border-radius: 1.7vh;
}*/

  .espaco-deletar {
    display: none;
  }

  .espaco-editar {
    display: none
  }

  .espaco-visualizar {
    display: none
  }

  /*.linha-botoes{
    border-right: none;
}*/

  .acoes {
    display: none;
  }

}

@media screen and (min-width:350px) and (max-width:380px) {

  /*main{
  width: 100%;
  margin-right: 3%;
  margin-left: 15%;
  overflow: hidden;
}*/
  .botoes-rm>button {
    font-size: medium;
  }

  input[type="submit"] {
    font-size: medium;
  }

  .linha-normal {
    display: none;
  }

  .linha-mobile {
    display: table-row;
  }

  .botoes-mobile {
    display: table-row;
  }

  .linha-botoes {
    padding: 5px 20px 5px 20px;
    border-right: none;
  }

  .container-botoes {
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
  }

  .email {
    border-right: none;
    max-width: 22ch;
  }

  .botao-visualizar,
  .botao-editar,
  .botao-deletar {
    margin: 0 15px;
    height: 100%;
    width: 35px;
  }

  /*.container-tabela{
    width: 100%;
    overflow-x: auto;
    justify-content: start;///////////////
}*/

  /*table i{
    font-size: 14px;
}*/

  /*thead{
    font-size: 12px;
}*/

  /*tbody{
    font-size: 13px;
    text-wrap: nowrap;
}*/

  /*.tabela-posts{
    border-radius: 1.7vh;
}*/

  .espaco-deletar {
    display: none;
  }

  .paginacao-numeros {
    display: flex;
    font-size: x-small;
  }

  .espaco-editar {
    display: none
  }

  .espaco-visualizar {
    display: none
  }

  /*.linha-botoes{
    border-right: none;
}*/

  .acoes {
    display: none;
  }

  body{
    padding: 2%;
  }

}

@media screen and (min-width:330px) and (max-width:350px) {

  /*main{
  width: 100%;
  margin-right: 3%;
  margin-left: 15%;
  overflow: hidden;
}*/
  input[type="submit"] {
    font-size: medium;
  }

  .botoes-rm>button {
    font-size: medium;
  }

  .linha-normal {
    display: none;
  }

  .linha-mobile {
    display: table-row;
  }

  .botoes-mobile {
    display: table-row;
  }

  .linha-botoes {
    padding: 5px 20px 5px 20px;
    border-right: none;
  }

  .container-botoes {
    display: flex;
    justify-content: space-between;
    margin-right: 30%;
  }

  .email {
    border-right: none;
    max-width: 22ch;
  }

  .botao-visualizar,
  .botao-editar,
  .botao-deletar {
    margin: 0 15px;
    height: 100%;
    width: 35px;
  }

  /*.container-tabela{
    width: 100%;
    overflow-x: auto;
    justify-content: start;///////////////
}*/

  /*table i{
    font-size: 14px;
}*/

  /*thead{
    font-size: 12px;
}*/

  /*tbody{
    font-size: 13px;
    text-wrap: nowrap;
}*/

  /*.tabela-posts{
    border-radius: 1.7vh;
}*/

  .espaco-deletar {
    display: none;
  }

  .paginacao-numeros {
    display: flex;
    font-size: x-small;
  }


  .espaco-editar {
    display: none
  }

  .espaco-visualizar {
    display: none
  }

  /*.linha-botoes{
    border-right: none;
}*/

  .acoes {
    display: none;
  }

  body{
    padding: 9%;
  }

}

@media screen and (min-width:0px) and (max-width:330px) {

  /*main{
  width: 100%;
  margin-right: 3%;
  margin-left: 15%;
  overflow: hidden;
}*/
  input[type="submit"] {
    font-size: medium;
  }

  .botoes-rm>button {
    font-size: medium;
  }

  .linha-normal {
    display: none;
  }

  .linha-mobile {
    display: table-row;
  }

  .botoes-mobile {
    display: table-row;
  }

  .linha-botoes {
    padding: 5px 20px 5px 20px;
    border-right: none;
  }

  .container-botoes {
    display: flex;
    justify-content: space-between;
    margin-right: 30%;
  }

  .email {
    border-right: none;
    max-width: 22ch;
  }

  .botao-visualizar,
  .botao-editar,
  .botao-deletar {
    margin: 0 15px;
    height: 100%;
    width: 35px;
  }

  /*.container-tabela{
    width: 100%;
    overflow-x: auto;
    justify-content: start;///////////////
}*/

  /*table i{
    font-size: 14px;
}*/

  /*thead{
    font-size: 12px;
}*/

  /*tbody{
    font-size: 13px;
    text-wrap: nowrap;
}*/

  /*.tabela-posts{
    border-radius: 1.7vh;
}*/

  .espaco-deletar {
    display: none;
  }

  .paginacao-numeros {
    display: flex;
    font-size: x-small;
  }


  .espaco-editar {
    display: none
  }

  .espaco-visualizar {
    display: none
  }

  /*.linha-botoes{
    border-right: none;
}*/

  .acoes {
    display: none;
  }

  body{
    padding: 9%;
  }

}


@media only screen and (min-width: 0px) and (max-width: 600px) {
  .content {
    width: 70%;
  }

  .content-visualizar {
    width: 70%;
  }
}

.editauser {
  position: fixed;
  inset: 0;
  background: rgba(69, 50, 50, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

#adcuser {
  position: fixed;
  inset: 0;
  background: rgba(69, 50, 50, 0.2);
  display: none;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.modal-visualizar {
  position: fixed;
  inset: 0;
  background: rgba(69, 50, 50, 0.2);
  display: none;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.content {
  width: 40%;
  margin: 8px;
  position: relative;
  background: #f5f5f5;
  padding: 10px 20px;
  border-radius: 4px;
  min-width: fit-content;

}

.content-visualizar {
  width: 40%;
  margin: 8px;
  position: relative;
  background: #f5f5f5;
  padding: 10px 20px 35px 20px;
  border-radius: 4px;
  min-width: fit-content;
}

.fecha {
  position: absolute;
  top: -1px;
  right: 10px;
  font-size: 30px;
  text-decoration: none;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #453232;
  border-radius: 4px;
  background-color: #ecd1e0;
  color: #453232;
}

input[type="file"] {
  display: none;
}



a {
  color: #453232;
}

a:visited {
  color: #453232;
}

.senha-e-olho {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

#senha {
  position: relative;
  padding-right: 40px;
}

.olho {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 5vh;
  cursor: pointer;
}

#icone-olho {
  width: 4vh;
}

@media screen and (max-width:385px) {
  .btn-avancar {
    font-size: x-small;
  }

  .btn-voltar {
    font-size: x-small;
  }

  .paginacao-link {
    font-size: x-small;
  }


}