@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
   
   
    width: 1080px;
    height: 2000px;
   
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(to bottom, #EF9CA9, white 45%);
}



.linha-geral{
    
    position: absolute;
    content:'';
    height: 80.3%;
    width: 1px;
    background-color: #453232;
    opacity: 0.8;
left: 500px;
top: 8%;
display: flex;
}
.linha-secundaria{
    
    position: absolute;
    content:'';
    height: 80.3%;
    width: 1px;
    background-color: #453232;
    opacity: 0.8;
right: 290px;
top: 8%;
display: flex;

}


.buscar-box{
    font-family: "Poppins", sans-serif;
    top: 8%;
    left: 16px;
    background-color: white;
        width: 450px;
    height:75px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    justify-content: space-between;
position: sticky;
opacity: 0.8;




}

.buscar-box .lupa{
    min-width: 400px;
    height: 60px;
    display: flex;
    align-items: center;

}
   .buscar-box .input-buscar{
    border: 0;
    position: absolute;
    left: 13%;  
    top: 25%;
   }
.buscar-box .input-buscar input{
   font-size: 30px;
    outline: 0;
   border: 0;

}

.forma-post1  {
   content: '';
    position: absolute;
   display: flex;
    background-color: #EF9CA9;
   width: 900px;
height: 250px;
flex-shrink: 0;
top: 8%;
left: 550px;
border-radius: 20px;
opacity: 0.3;



   
    

}



linha-pesquisa{
    position: absolute;
    content:'';
    height: 50px;
    width: 30px;
    background-color:pink;
    opacity: 1;

display: flex;

}
.usuario{
   
    position: absolute;
    
    left: 620px;
font-size: 15px;
top:8%
}