@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
::placeholder {     
    padding: 18px; }
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #F5F5F5;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.esquerda {
    width: 50vw;
    height: 100vh;
}

#valida {
    margin: 0;
    color: red;
    font-size: 22px;
    text-align: center;
}

#logo-escrita {
    text-decoration: none;
    display: block;
    color: #EE9CA8;
    font-size: 2vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.25vw;
    padding-left: 2%;
    padding-top: 1%;
    position: absolute;
}

#logo-escrita:hover {
    cursor: pointer;
}

.imagem-principal {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#imagem-principal {
    width: 90%;
    height: auto;
}

.direita {
    width: 50vw;
    height: 100vh;
    border-radius: 3.5% 0% 0% 0%;
    background: linear-gradient(180deg, #376C89 0%, #002C42 100%);
    box-shadow: -0.3vw 1vw 1vw 0vw rgba(0, 0, 0, 0.80);
}

.cabecalho {
    display: flex;
    justify-content: left;
    align-items: start;
}

#marcador-de-livro {
    height: 20%;
    width: auto;
    margin-left: 2vw;
    position: absolute;
}

#logo-imagem {
    width: 11%;
    height: auto;
    margin-top: 11%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: end;
    cursor: pointer;
}

#titulo-login {
    margin-top: 1%;
    margin-bottom: 5%;
    text-align: center;
    color: #F5F5F5;
    font-family: Poppins;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.campos {
    display: flex;
    position: relative;
}

.formulario {
    display: flex;
    justify-content: center;
}

.campos input {
    width: 25vw;
    height: 12.8vh;
    border: none;
    border-radius: 12.8vh;
    background: #F5F5F5;
    box-shadow: 1vh 1vh 2vh 0vh rgba(0, 0, 0, 0.60);
    outline: none;
    color: #376C89;
    font-family: Poppins;
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4vh;
}

.campos input::placeholder {
    color: #376C89;
    font-family: Poppins;
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.circulo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 12.8vh;
    height: 12.8vh;
    border-radius: 12.8vh;
    margin-left: -0.5vh;
    background-color: #002C42;
}

#icone-email {
    width: 40%;
    height: auto;
}

#icone-senha {
    width: 33%;
    height: auto;
}

#email {
    padding: 0vw 3.5vw 0vw 8vw;
}

#btn_login {
    width: 100%;
}

#senha {
    width: 20.5vw;
    padding: 0vw 8vw 0vw 8vw;
}

.olho {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 84%;
    top: 4.5vh;
}

#icone-olho {
    width: 3vw;
    height: auto;
    cursor: pointer;
}

#btn-login {
    margin-top: 2vh;
    border: none;
    width: 100%;
    height: 12.8vh;
    border-radius: 12.8vh;
    background: linear-gradient(180deg, #EF9CA9 -58.7%, #E87C7A 99.02%);
    box-shadow: 1vh 1vh 2vh 0vh rgba(0, 0, 0, 0.60);
    color: #F5F5F5;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

#btn-login {
    margin-top: 2vh;
    border: none;
    width: 100%;
}

#botao {
    margin-top: 2vh;
    border: none;
    width: 36.5vw;
    height: 12.8vh;
    border-radius: 12.8vh;
    background: linear-gradient(180deg, #EF9CA9 -58.7%, #E87C7A 99.02%);
    box-shadow: 1vh 1vh 2vh 0vh rgba(0, 0, 0, 0.60);
    color: #F5F5F5;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

@media screen and (min-width:0px) and (max-width:350px) {
    .esquerda {
        display: none;
    }

    .direita {
        width: 90vw;
        height: 80vh;
        border-radius: 3.5% 0% 0% 3.5%;
    }

    .formulario {
        text-align: center;
    }

    #marcador-de-livro {
        height: 17%;
        width: auto;
        margin-left: 5vw;
        position: absolute;
    }

    #titulo-login {
        font-size: 6vw;
    }

    #logo-imagem {
        margin-top: 18%;
        width: 20%;
        height: auto;
    }

    .campos input {
        width: 45vw;
        height: 10vh;
        font-size: 4vw;
    }

    .campos input::placeholder {
        font-size: 4vw;
    }

    #email {
        padding: 0vw 6.5vw 0vw 20vw;
    }

    #senha {
        width: 38.5vw;
        padding: 0vw 13vw 0vw 20vw;
    }

    .circulo {
        width: 10vh;
        height: 10vh;
        border-radius: 8vh;
    }

    .olho {
        top: 4vh;
        left: 87%;
    }

    #icone-olho {
        width: 5vw;
        height: auto;
    }

    #botao {
        font-size: 5vw;
        width: 71.5vw;
        height: 10vh;
    }

    #btn-login {
        font-size: 15px;
    }
}

@media screen and (min-width:350px) and (max-width:400px) {
    .esquerda {
        display: none;
    }

    .direita {
        width: 90vw;
        height: 88vh;
        border-radius: 3.5% 0% 0% 3.5%;
    }

    #btn-login {
        font-size: 19px;
    }

    #marcador-de-livro {
        height: 17%;
        width: auto;
        margin-left: 5vw;
        position: absolute;
    }

    #titulo-login {
        font-size: 6vw;
    }

    #logo-imagem {
        margin-top: 18%;
        width: 20%;
        height: auto;
    }

    .campos input {
        width: 48vw;
        height: 10vh;
        font-size: 4vw;
    }

    .campos input::placeholder {
        font-size: 4vw;
    }

    .formulario {
        text-align: center;
    }

    #email {
        padding: 0vw 6.5vw 0vw 17vw;
    }

    #senha {
        width: 41.5vw;
        padding: 0vw 13vw 0vw 17vw;
    }

    .circulo {
        width: 10vh;
        height: 10vh;
        border-radius: 8vh;
    }

    .olho {
        top: 4vh;
        left: 87%;
    }

    #icone-olho {
        width: 5vw;
        height: auto;
    }

    #botao {
        font-size: 5vw;
        width: 71.5vw;
        height: 10vh;
    }
}

@media screen and (min-width:400px) and (max-width:503px) {
    .esquerda {
        display: none;
    }

    .direita {
        width: 90vw;
        height: 93vh;
        border-radius: 3.5% 0% 0% 3.5%;
    }

    #marcador-de-livro {
        height: 17%;
        width: auto;
        margin-left: 5vw;
        position: absolute;
    }

    #titulo-login {
        font-size: 6vw;
    }

    #logo-imagem {
        margin-top: 16%;
        width: 20%;
        height: auto;
    }

    .formulario {
        text-align: center;
    }

    .campos input {
        width: 49vw;
        height: 10vh;
        font-size: 4vw;
    }

    .campos input::placeholder {
        font-size: 4vw;
    }

    #email {
        padding: 0vw 6.5vw 0vw 16vw;
    }

    #senha {
        width: 42.5vw;
        padding: 0vw 13vw 0vw 16vw;
    }

    .circulo {
        width: 10vh;
        height: 10vh;
        border-radius: 8vh;
    }

    .olho {
        top: 4vh;
        left: 87%;
    }

    #icone-olho {
        width: 5vw;
        height: auto;
    }

    #botao {
        font-size: 5vw;
        width: 71.5vw;
        height: 10vh;
    }
}

@media screen and (min-width:503px) and (max-width:690px) {
    .esquerda {
        display: none;
    }

    .direita {
        width: 90vw;
        height: 100vh;
    }

    .formulario {
        text-align: center;
    }

    #titulo-login {
        font-size: 4vw;
    }

    #logo-imagem {
        margin-top: 7%;
        width: 15%;
        height: auto;
    }

    .campos input {
        width: 57vw;
        font-size: 3vw;
    }

    .campos input::placeholder {
        font-size: 3vw;
    }

    #email {
        padding: 0vw 6.5vw 0vw 15vw;
    }

    #senha {
        width: 53.5vw;
        padding: 0vw 10vw 0vw 15vw;
    }

    .olho {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 90%;
        top: 4.5vh;
    }

    #icone-olho {
        width: 5vw;
        height: auto;
    }

    #botao {
        font-size: 4vw;
        width: 78.5vw;
    }
}

@media screen and (min-width:690px) and (max-width:937px) {
    .esquerda {
        display: none;
    }

    .direita {
        width: 90vw;
        height: 100vh;
    }

    .formulario {
        text-align: center;
    }

    #btn_login {
        font-size: 40px;
        width: 100%;
        margin-left: auto;
        margin-top: auto;
    }

    #titulo-login {
        font-size: 4vw;
    }

    #logo-imagem {
        margin-top: 7%;
    }

    .campos input {
        width: 57vw;
        font-size: 2.5vw;
    }

    .campos input::placeholder {
        font-size: 2.5vw;
    }

    #email {
        padding: 0vw 6.5vw 0vw 11vw;
    }

    #senha {
        width: 53.5vw;
        padding: 0vw 10vw 0vw 11vw;
    }

    .olho {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 90%;
        top: 4.5vh;
    }

    #icone-olho {
        width: 5vw;
        height: auto;
    }

    #botao {
        font-size: 3.5vw;
        width: 74.5vw;
    }
}

@media screen and (min-width:937px) and (max-width:1171px) {
    .campos input {
        width: 23vw;
        font-size: 1.6vw;
    }

    #email {
        padding: 0vw 3.5vw 0vw 10vw;
    }

    #senha {
        width: 18.5vw;
        padding: 0vw 8vw 0vw 10vw;
    }
}