@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #F5F5F5;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.esquerda {
    width: 50vw;
    height: 100vh;
    padding-top: 12px;
}

#logo-escrita {
    display: block;
    color: #EE9CA8;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -4.4px;
    padding-left: 24px;
}

.formulario {
    width: 50vw;
    height: 100vh;
    border-radius: 26px 0px 0px 0px;
    background: linear-gradient(180deg, #376C89 0%, #002C42 100%);
}

.imagem-principal{
    display: flex;
    height: 100vh;
    justify-content: center;
}

#imagem-principal{
    width: 616px;
    height: 574px;
}

#titulo-login {
    text-align: center;
    color: #F5F5F5;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}