/*FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*GERAL*/

*{
  font-family: Poppins;
  margin: 0;
  padding: 0;
  color: #ef9ca9;
}

body{
  background: #bbbbbb;
}

/*NAVBAR*/

.container{
  width: 100%;
}

header{
  position: relative;
  top: 0;
  height: auto;
  width: 100%;
}

nav{
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 1;
  background-color: #f5f5f5;
  display: flex;
  font-weight: 500;
  font-size: 30px;
}

nav:after{
  clear: both;
  content: "";
  display: block;
}

.nav-container{
  width: 100%;
  position: relative;
}

/*LOGO NAVBAR*/

#nav-logo{
  height: 50px;
  margin-left: 150px;
  margin-top: 10px;
}

/*LISTA DE LINKS NAVBAR*/

.nav-container ul{
  float: right;
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  gap: 50px;
  margin-right: 150px;
  line-height: 70px;
}

.nav-container li{
  display: inline;
}

.nav-container li a{
  text-decoration: none;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}

.nav-container li a:hover{
  color: #e87c7a;
}

/*MAIN*/

main{
  height: 80vh;
}

/*FOOTER*/

footer{
  width: 100%;
}

#footer-content{
  height: 300px;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1.05fr 2px 3fr 2.5px 1fr;
}

.footer-titulo{
  font-weight: 600;
  font-size: 24px;
  color: #002c42;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.footer-texto{
  color: #376c89;
  font-weight: 500;
}

/*REDES SOCIAIS*/

#lista-redes{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 50px;
}

#lista-redes h1{
  margin-right: 30px;
}

.rede-social{
  text-decoration: none;
  display: inline;
}

.rede-social p{
  font-size: 20px;
}

.rede-social img{
  float: left;
  width: 30px;
}

/*MISSÃO, VISÃO E VALORES*/

#mis-vis-val{
  display: grid;
  grid-template-columns: 1fr 0.9fr 0.75fr;
}

#mis-vis-val div p{
  font-size: 24px;
}

#missao{
  margin-left: 50px;
  margin-right: 25px;
}

#visao{
  margin-left: 15px;
  margin-right: 25px;
}

#valores{
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#valores ul li{
  font-size: 24px;
}

/*CRÉDITOS*/

#creditos{
  margin-left: 40px;
  margin-right: 50px;
}

#background-logo{
  height: 90px;
  background-color: #002c42;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
}

#background-logo img{
  width: 230px;
}

#creditos h1{
  font-weight: 600;
  text-align: center;
  color: #376c89;
  font-size: 20px;
  margin-top: 4.5rem;
  margin-bottom: 1rem;
}

/*SEPARAÇÃO*/

.separacao{
  background-image: linear-gradient(
    #f5f5f5 10%,
    #002c42 50%,
    #f5f5f5 90%
  );
}