body {
    background: linear-gradient(to bottom, #ecd1e0, #ffffff);
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1px;
    font-size: 24px;
}

.botao {
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    text-decoration: none;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.campos{
    width: 100%;
}

.popup {
    position: fixed;
    inset: 0;
    background: rgba(69, 50, 50, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.content {
    width: 40%;
    margin: 8px;
    position: relative;
    background: white;
    padding: 10px 20px;
    border-radius: 4px;
}

.popup:target {
    display: flex;
}

.fecha {
    position: absolute;
    top: -1px;
    right: 10px;
    font-size: 30px;
    text-decoration: none;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #453232;
    border-radius: 4px;
    background-color: #ecd1e0;
    color: #453232;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    margin: 28px 0;
    box-sizing: border-box;
    border: 2px solid #453232;
    border-radius: 4px;
    background-color: #ecd1e0;
    color: #453232;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1px;
    font-size: 24px;
}

a {
    color: #453232;
}

a:visited {
    color: #453232;
}

#email{
    margin-bottom: 4%;
}

@media only screen and (min-width: 0px) and (max-width: 713px) {
    .content{
        width: 70%;
    }
}