<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/add-usuario.css">
</head>
<body>
    <main>
        <div class="content">

            <form action="#" method="post" enctype="multipart/form-data">
                <div class="formulario">
                    <div class="esquerda">
                        <label for="autor">Autor</label><br>
                        <input type="text" id="autor" name="autor" value="pedro_123" readonly><br>
                        <label for="titulo">Título</label><br>
                        <input type="text" id="titulo" name="titulo" placeholder="Título da sua review"><br>
                        <label for="conteudo">Review</label><br>
                        <textarea type="text" id="conteudo" name="conteudo" placeholder="Conteudo da sua review"
                            rows="7" cols="50"></textarea>
                    </div>
                    <div class="direita">
                        <label class="form-img" for="img">
                            <p id="imgname">Selecione uma imagem</p>
                        </label>
                        <input onclick="verifica()" type="file" id="img" name="img" accept="image/*">
                        <label for="data">Data:</label>
                        <input type="date" id="data" name="data">
                    </div>
                </div>
                <input type="submit" value="Publicar">
            </form>
            <a class="fecha" href="#">&times;</a>
        </div>
    </main>
</body>
</html>