<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Lista de Posts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/admin-lista-de-posts.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <main>
        <div class="cabecalho">
            <button type="button" class="botoes-fora-tabela" id="botao-criar-post"><i class="bi bi-plus-lg"></i> Criar post</button>
            <p id="titulo">Lista de posts</p>
        </div>

        <div class="container-tabela">
            <table class="tabela-posts">
                <thead>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Data</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td class="espaco-id">01</td>
                        <td class="espaco-titulo">Capitu traiu?</td>
                        <td class="espaco-autor">João Victor Nicácio Silva</td>
                        <td class="espaco-data">02/05/2024</td>
                        <td class="espaco-visualizar"><button type="button" class="botao-visualizar"><i class="bi bi-eye-fill"></i><br>Visualizar</button></td>
                        <td class="espaco-editar"><button type="button" class="botao-editar"><i class="bi bi-pencil-square"></i><br>Editar</button></td>
                        <td class="espaco-excluir"><button type="button" class="botao-excluir"><i class="bi bi-trash3-fill"></i><br>Deletar</button></td>
                    </tr>
                    <tr>
                        <td class="espaco-id">02</td>
                        <td class="espaco-titulo">Resenha sobre Memórias Póstumas de Brás Cubas</td>
                        <td class="espaco-autor">Luiz Eduardo de Souza</td>
                        <td class="espaco-data">01/05/2024</td>
                        <td class="espaco-visualizar"><button type="button" class="botao-visualizar"><i class="bi bi-eye-fill"></i><br>Visualizar</button></td>
                        <td class="espaco-editar"><button type="button" class="botao-editar"><i class="bi bi-pencil-square"></i><br>Editar</button></td>
                        <td class="espaco-excluir"><button type="button" class="botao-excluir"><i class="bi bi-trash3-fill"></i><br>Deletar</button></td>
                    </tr>
                    <tr>
                        <td class="espaco-id">03</td>
                        <td class="espaco-titulo">O melhor livro que já li</td>
                        <td class="espaco-autor">Luiza Gomes Aguiar</td>
                        <td class="espaco-data">07/05/2024</td>
                        <td class="espaco-visualizar"><button type="button" class="botao-visualizar"><i class="bi bi-eye-fill"></i><br>Visualizar</button></td>
                        <td class="espaco-editar"><button type="button" class="botao-editar"><i class="bi bi-pencil-square"></i><br>Editar</button></td>
                        <td class="espaco-excluir"><button type="button" class="botao-excluir"><i class="bi bi-trash3-fill"></i><br>Deletar</button></td>
                    </tr>
                    <tr>
                        <td class="espaco-id">04</td>
                        <td class="espaco-titulo">Incrível!</td>
                        <td class="espaco-autor">Marcelo Juan</td>
                        <td class="espaco-data">01/05/2024</td>
                        <td class="espaco-visualizar"><button type="button" class="botao-visualizar"><i class="bi bi-eye-fill"></i><br>Visualizar</button></td>
                        <td class="espaco-editar"><button type="button" class="botao-editar"><i class="bi bi-pencil-square"></i><br>Editar</button></td>
                        <td class="espaco-excluir"><button type="button" class="botao-excluir"><i class="bi bi-trash3-fill"></i><br>Deletar</button></td>
                    </tr>
                    <tr>
                        <td class="espaco-id">05</td>
                        <td class="espaco-titulo">Memórias Póstumas de Brás Cubas</td>
                        <td class="espaco-autor">Joaquim Faria de Souza Filho</td>
                        <td class="espaco-data">05/05/2024</td>
                        <td class="espaco-visualizar"><button type="button" class="botao-visualizar"><i class="bi bi-eye-fill"></i><br>Visualizar</button></td>
                        <td class="espaco-editar"><button type="button" class="botao-editar"><i class="bi bi-pencil-square"></i><br>Editar</button></td>
                        <td class="espaco-excluir"><button type="button" class="botao-excluir"><i class="bi bi-trash3-fill"></i><br>Deletar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="paginacao">
            <button class="botoes-fora-tabela" id="botao-voltar"><i class="bi bi-chevron-left"></i>Voltar</button>
            <button class="botoes-fora-tabela" id="botao-avancar">Avançar<i class="bi bi-chevron-right"></i></button>
        </div>
    </main>
</body>

</html>