<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar usuário</title>
    <link rel="stylesheet" href="/public/css/visualizar-usuario.css">
    <link rel="stylesheet" href="/public/css/visualizar-usuario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>
<body>
    <main>
        <a class="botao" href="#popup-box">Visualizar usuário</a>
        <div id="popup-box" class="popup">
            <div class="content">

                <form action="#" method="post" enctype="multipart/form-data">
                    <div class="formulario">
                        <div class="campos">
                            <label for="nome">ID</label><br>
                            <input type="text" id="id" name="id" value="01" readonly><br>
                            <label for="nome">Nome</label><br>
                            <input type="text" id="nome" name="nome" value="Laura Machado Miranda" readonly>
                            <label for="email">E-mail</label><br>
                            <input type="email" id="email" name="email" value="lauramachadomiranda@exemplo.com.br" readonly><br>
                        </div>
                    </div>
                </form>
                <a class="fecha" href="#">&times;</a>
            </div>
        </div>
    </main>
</body>
</html>