<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/styleindividual.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <title>Story Stroll</title>
</head>
<body>
    <div class="container">
        <div class="img_txt">
            <img src="../../../public/assets/demonios.jpg" class="imagem" alt="Imagem do livro">
            <div class="data">Publicado em 1872</div>
        </div>
        <div class="conteudo">
            <div class="titulo">Os Demônios</div>
            <div class="autor">Fiodor Dostoiévski</div>
            <div class="estrela_sinopse">
                <div class="estrelas">
                    <img src="../../../public/assets/Star 1.svg">
                    <img src="../../../public/assets/Star 1.svg">
                    <img src="../../../public/assets/Star 1.svg">
                    <img src="../../../public/assets/Star 1.svg">
                    <img src="../../../public/assets/Star 5.svg">
                </div>
                <div class="sinopse">
                    <p class="resumo">Impressionado com o assassinato de um estudante por um grupo niilista, Dostoiévski concebeu 
                    este livro como um protesto contra os que queriam transplantar a realidade política e cultural da 
                    Europa ocidental para a Rússia. Apesar da intenção inicialmente panfletária, Os demônios é um romance 
                    magistral, à altura de Crime e castigo ou Os irmãos Karamázov.</p>   
                </div>    
                <div class="amostra">Amostra gratis: </div>            
            </div>
        </div>
    </div>

    <div class="elementos_review">
        <div id="img_user"><img src="../../../public/assets/system-solid-8-account 1.svg"></div>

        <div id="bloco_review">
            <div id="nome_user">
               <p>Anna's Review</p>
            </div>
            <div class="estrelas_data">
                <div class="star">
                    <img src="../../../public/assets/Star 1.svg">
                    <img src="../../../public/assets/Star 1.svg">
                    <img src="../../../public/assets/Star 5.svg">
                    <img src="../../../public/assets/Star 5.svg">
                    <img src="../../../public/assets/Star 5.svg">
                </div>
                <p id="data">12/01/24</p>
            </div>

            <div id="bloco">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                    quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi 
                    tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem 
                    ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea 
                    voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>                
            </div>
        </div>
    </div>
</div>
</body>
</html>