<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <title>Story Stroll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../../public/css/landing.css" />

</head>

<body>
    <div class="agrupamento">
        <div id="fotoscima">
        <div class="swiper bloco1">
            <div id="blo1" class="swiper-wrapper">
            </div>
        </div>
        <div class="swiper bloco2">
            <div id="blo2" class="swiper-wrapper">
            </div>
        </div>
    </div>
    <div id="fotosbaixo">
        <div class="swiper bloco3">
            <div id="blo3" class="swiper-wrapper">
            </div>
        </div>
        <div class="swiper bloco4">
            <div id="blo4" class="swiper-wrapper">
            </div>
        </div>  
        </div>  
    </div>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script src="../../../public/js/landing.js"></script>
</body>

</html>
