<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/lista.css">
</head>

<body>
    <main>
        <div class="coluna1">
            <div class="buscar-box">
                <div class="lupa">
                    <img src="../../../public/assets/lupa.svg">
                </div>
                <div class="input-buscar">
                    <input type="text" name="" id="" placeholder="Buscar Postagens">
                </div>
            </div>
        </div>
        <div class="coluna2">
            <div class="forma-post1">
                <div class="espassocapa">
                    <div class="espasso">
                        <div class="fotouser">
                            <img src="/public/assets/FOTOPERFIL.svg">
                        </div>
                        <div class="usuario">
                            <h1>Sommelier</h1>
                            <div class="estrelas">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                            </div>
                        </div>
                    </div>
                    <div class="digitado">
                        <h1><br>Livro intrigante, ótimo do começo ao fim.</h1>
                    </div>
                </div>
                <div class="capalivro1">
                    <img src="/public/assets/A1uUKJ5uzCL 1.svg">
                </div>
            </div>
            <div class="forma-post2">
                <div class="espassocapa">
                    <div class="espasso">
                        <div class="fotouser">
                            <img src="/public/assets/FOTOPERFIL.svg">
                        </div>
                        <div class="usuario">
                            <h1>Sommelier</h1>
                            <div class="estrelas">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                            </div>
                        </div>
                    </div>
                    <div class="digitado">
                        <h1><br>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt odio dolorem
                            inventore, tempora commodi dolor, sint rerum autem provident id nesciunt! Soluta, fugit id!
                            Temporibus soluta odit quisquam totam non!.</h1>
                    </div>
                </div>
                <div class="capalivro1">
                    <img src="/public/assets/A1uUKJ5uzCL 1.svg">
                </div>
            </div>
            <div class="forma-post3">
                <div class="espassocapa">
                    <div class="espasso">
                        <div class="fotouser">
                            <img src="/public/assets/FOTOPERFIL.svg">
                        </div>
                        <div class="usuario">
                            <h1>Sommelier</h1>
                            <div class="estrelas">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                            </div>
                        </div>
                    </div>
                    <div class="digitado">
                        <h1><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde reiciendis vero id,
                            minima expedita quam ad dolore quae quisquam, tempore numquam itaque rerum. Aperiam, rem eos
                            vel incidunt esse consequatur!.</h1>
                    </div>
                </div>
                <div class="capalivro1">
                    <img src="/public/assets/A1uUKJ5uzCL 1.svg">
                </div>
            </div>
            <div class="forma-post4">
                <div class="espassocapa">
                    <div class="espasso">
                        <div class="fotouser">
                            <img src="/public/assets/FOTOPERFIL.svg">
                        </div>
                        <div class="usuario">
                            <h1>Sommelier</h1>
                            <div class="estrelas">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                            </div>
                        </div>
                    </div>
                    <div class="digitado">
                        <h1><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde reiciendis vero id,
                            minima expedita quam ad dolore quae quisquam, tempore numquam itaque rerum. Aperiam, rem eos
                            vel incidunt esse consequatur!.</h1>
                    </div>
                </div>
                <div class="capalivro1">
                    <img src="/public/assets/A1uUKJ5uzCL 1.svg">
                </div>
            </div>
            <div class="forma-post5">
                <div class="espassocapa">
                    <div class="espasso">
                        <div class="fotouser">
                            <img src="/public/assets/FOTOPERFIL.svg">
                        </div>
                        <div class="usuario">
                            <h1>Sommelier</h1>
                            <div class="estrelas">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                                <img src="/public/assets/ESTRELA.svg">
                            </div>
                        </div>
                    </div>
                    <div class="digitado">
                        <h1><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde reiciendis vero id,
                            minima expedita quam ad dolore quae quisquam, tempore numquam itaque rerum. Aperiam, rem eos
                            vel incidunt esse consequatur!.</h1>
                    </div>
                </div>
                <div class="capalivro1">
                    <img src="/public/assets/A1uUKJ5uzCL 1.svg">
                </div>
            </div>
        </div>
    </main>
</body>

</html>