<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/lista.css">
</head>
<body>


 <div class="navbar">
                <img src="https://s3-alpha-sig.figma.com/img/972a/5919/b90e97e688dc083b8018713209fe82e2?Expires=1714953600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mWl1mLGms7HI71JjZZbc5g48c7OQ9Of8sqpeKsuDTnISvJ3vsSv5v7d~El0MkOSbvcJ-v3ZfAdDnGly3u5Mu5d7h36PYlD2O6ZUiYMU~s2y-YuZ-C4gu65sekvTzuUZw8Jmaeqr9OoikkMg30cOMLHJfFHLki0EkBFdGOUpyS5N9J8rxk9p8daPMAxtZBF530anCpgzXVjyYFbsJoxS1vN~MThK0s2043ys424rhXjbia2Pt1vk6EAih9e4W7oVe~d3UDD4WrUxd13M-cJvsEJijAJ~9REhnjgN9LkGcIl9Y91hAPWpufGhIcekty5reiab4t4Q0baLvvCm8wCr2Pg__"
  alt="storystroll" height="50" width="190">
   
  
  
  <div 
  class="teste">
</div>
   
<div class="navtext">
<div class="navtext1">Home</div> 
    </t2>
    <div 
            class="navtext2">
        <t1>Publicações</t1></div>
        <div class="navtext3"
    <t3>Login</t3>
</div> 
</div>










</div>
    



    





    
    


</body>
</html>