<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/lista-usuarios.css">
  <title>Story Stroll</title>
</head>
<body>
  <div id="container-table">
    <table>

      <caption>
        Lista de usuários
      </caption>

      <thead>
        <tr class="linha cabecalho">
          <th>ID</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr class="linha dado">
          <td>01</td>
          <td>Usuário Um</td>
          <td>usuarioum@storystroll.com</td>
          <td>img-visualizar</td>
          <td>img-editar</td>
          <td>img-excluir</td>
        </tr>

        <tr class="linha dado">
          <td>02</td>
          <td>Usuário Dois</td>
          <td>usuariodois@storystroll.com</td>
          <td>img-visualizar</td>
          <td>img-editar</td>
          <td>img-excluir</td>
        </tr>

        <tr class="linha dado">
          <td>03</td>
          <td>Usuário Três</td>
          <td>usuariotres@storystroll.com</td>
          <td>img-visualizar</td>
          <td>img-editar</td>
          <td>img-excluir</td>
        </tr>

        <tr class="linha dado">
          <td>04</td>
          <td>Usuário Quatro</td>
          <td>usuarioquatro@storystroll.com</td>
          <td>img-visualizar</td>
          <td>img-editar</td>
          <td>img-excluir</td>
        </tr>

        <tr class="linha dado">
          <td>05</td>
          <td>Usuário Cinco</td>
          <td>usuariocinco@storystroll.com</td>
          <td>img-visualizar</td>
          <td>img-editar</td>
          <td>img-excluir</td>
        </tr>
      </tbody>

    </table>
  </div>
</body>
</html>