<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/estilo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    <title>Story Stroll</title>
</head>
<body>
    <div class="container">
        <div class="img_txt">
            <img src="../../../public/assets/demonios.jpg" class="imagem" alt="Imagem do livro">
            <div class="data">Publicado em 1872</div>
        </div>
        <div class="conteudo">
            <div class="titulo">Os Demônios</div>
            <div class="autor">Fiodor Dostoiévski</div>
            <div class="estrela_sinopse">
                <div class="estrelas">
                    <img src="../../../public/assets/Star 1.svg">
                    <img src="../../../public/assets/Star 1.svg">
                    <img src="../../../public/assets/Star 1.svg">
                    <img src="../../../public/assets/Star 1.svg">
                    <img src="../../../public/assets/Star 5.svg">
                </div>
                <div class="sinopse">
                    <p>Impressionado com o assassinato de um estudante por um grupo niilista, Dostoiévski concebeu 
                    este livro como um protesto contra os que queriam transplantar a realidade política e cultural da 
                    Europa ocidental para a Rússia. Apesar da intenção inicialmente panfletária, Os demônios é um romance 
                    magistral, à altura de Crime e castigo ou Os irmãos Karamázov.</p>   
                </div>                
            </div>
        </div>
    </div>

    <div class="elementos_review">
        <div id="bloco">
            
        </div>
    </div>
</body>
</html>
