<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/NB-e-footer.css">
  <title>Document</title>
</head>
<body>
  <nav>
    <div></div>
    <div id="contLinksNB">
      <ul id="listaLinksNB">
        <li class="linkNB"><a href="">Login</a></li>
        <li class="linkNB"><a href="">Publicações</a></li>
        <li class="linkNB"><a href="">Home</a></li>
      </ul>
    </div>
  </nav>
</body>
</html>