<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/NB-e-footer.css">
  <title>Story Stroll</title>
</head>
<body>
  <header>
    <div class="container">
      <nav>
        <div class="nav-container">
          <img id="nav-logo" src="/public/assets/LOGO_BRANCA-removebg V1.png" alt="Story Stroll">
          <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Publicações</a></li>
            <li><a href="#">Home</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main></main>
  <footer>
    <div id="footer-content">
      <div id="lista-redes">

        <h1 class="footer-titulo">SIGA NOSSAS REDES SOCIAIS!</h1>

        <a href="#" class="rede-social instagram">
          <div class="block-rede">
            <img src="/public/assets/LOGO_INSTAGRAM V1.png" alt="logo instagram">
            <p class="footer-texto">@StoryStroll</p>
          </div>
        </a>

        <a herf="#" class="rede-social facebook" >
          <div class="block-rede">
            <img src="/public/assets/LOFO_FACEBOOK V1.png" alt="logo facebook">
            <p class="footer-texto">Story Stroll</p>
          </div>
        </a>

        <a href="#" class="rede-social twitter">
          <div class="block-rede">
            <img src="/public/assets/LOGO_TWITTER V1.png" alt="logo twitter">
            <p class="footer-texto">story_stroll</p>
          </div>
        </a>

      </div>
      <div class="separacao"></div>
      <div id="mis-vis-val">

        <div id="missao">
          <h1 class="footer-titulo">MISSÃO</h1>
          <p class="footer-texto">Divulgar informações relevantes acerca de livros dos mais diversos gêneros</p>
        </div>

        <div id="visao">
          <h1 class="footer-titulo">VISÃO</h1>
          <p class="footer-texto">Ser a primeira opção de diálogo e opinião para todos os tipos de leitores</p>
        </div>

        <div id="valores">
          <h1 class="footer-titulo">VALORES</h1>
          <ul>
            <li class="footer-texto">Diversidade</li>
            <li class="footer-texto">Paixão</li>
            <li class="footer-texto">Respeito</li>
            <li class="footer-texto">Integridade</li>
          </ul>
        </div>
        
      </div>
      <div class="separacao"></div>
      <div id="creditos">
        <h1>Site desenvolvido por</h1>
        <div id="background-logo">
          <img src="/public/assets/code-logo.png" alt="">
        </div>
      </div>
    </div>
  </footer>
</body>
</html>